/**
 * PF Dropdown
 * @url https://github.com/active-programming/pf-dropdown
 */

$pf-height: 22px;

.pf-dropdown {
  display: inline-block;
  position: relative;
  font-size: 14px;
  height: $pf-height;

  .pf-input-frame {
    position: relative;
    border: 1px solid gray;
    width: 100%;
    overflow: hidden;

    .pf-input {
      outline: none;
      border: 0;
      height: $pf-height;
      width: 100%;
    }
    .pf-arrow {
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      min-height: 100%;
      i {
        display: inline-block;
        position: absolute;
        top: ($pf-height / 2) - 2px;
        right: 6px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #333;
      }
    }
    .pf-decorated {
      position: absolute;
      width: 100%;
      min-height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: block;
        margin: 0;
        padding: 4px;
      }
    }
  }
  .pf-dropdown-frame {
    display: block;
    position: absolute;
    z-index: 10000;
    background: #fff;
    border: 1px solid gray;
    border-top: none;
    width: 100%;
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: auto;

    .pf-dropdown-list {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      .pf-dropdown-item {
        display: block;
        padding: 4px;
        border-bottom: 1px solid #ddd;
        &.selected {
          background-color: #76c7dd;
        }
        .pf-hl {
          font-weight: bold;
        }
      }
      .pf-dropdown-group {
        font-weight: bold;

        .pf-group-item {
          display: block;
          background-color: #ddd;
          padding: 2px;
        }
        .pf-dropdown-group-items {
          list-style: none;
          margin: 0;
          padding: 0;
          font-weight: normal;
        }
      }
    }
  }
}